// Data examples
// -------------

$breakpoints-1: (
  'xs': (
    'max': 11rem,
  ),
  'sm': (
    'min': 11rem,
    'max': 21rem,
  ),
  'md': (
    'min': 21rem,
  )
);

$breakpoints-2: (
  'xs': (
    'max': 12rem,
  ),
  'md': (
    'min': 22rem,
  )
);

$breakpoints-3: (
  'xs': (
    'max': 13rem,
  )
);

$breakpoints-4: (
  'md': (
    'min': 24rem,
  )
);

$object-init: (
  '~': (
    'classname': 'breakpoints',
  ),
  'forks': (
    'type': 'map',
    'nullable': true,
  )
);

$object-1: (
  '~': (
    'classname': 'breakpoints',
  ),
  'forks': (
    'type': 'map',
    'nullable': true,
    'value': $breakpoints-1,
  )
);

$object-2: (
  '~': (
    'classname': 'breakpoints',
  ),
  'forks': (
    'type': 'map',
    'nullable': true,
    'value': $breakpoints-2,
  )
);

$object-3: (
  '~': (
    'classname': 'breakpoints',
  ),
  'forks': (
    'type': 'map',
    'nullable': true,
    'value': $breakpoints-3,
  )
);

$object-4: (
  '~': (
    'classname': 'breakpoints',
  ),
  'forks': (
    'type': 'map',
    'nullable': true,
    'value': $breakpoints-4,
  )
);


// Tests
// -----

@include run(test('breakpoints--constructor', (
  ($breakpoints-1,): $object-1,
  ($breakpoints-2,): $object-2,
  ($breakpoints-3,): $object-3,
  ($breakpoints-4,): $object-4,
)));

@include run(test('breakpoints--get-forks', (
  ($object-1,): $breakpoints-1,
  ($object-2,): $breakpoints-2,
  ($object-3,): $breakpoints-3,
  ($object-4,): $breakpoints-4,
)));

@include run(test('breakpoints--set-forks', (
  ($object-init, $breakpoints-1): $object-1,
  ($object-init, $breakpoints-2): $object-2,
  ($object-init, $breakpoints-3): $object-3,
  ($object-init, $breakpoints-4): $object-4,
)));

@include run(test('breakpoints--get-key-fork', (
  ($object-1, 'xs'): ('max': 11rem),
  ($object-1, 'sm'): ('min': 11rem, 'max': 21rem),
  ($object-1, 'md'): ('min': 21rem),
  ($object-1, 'lg'): null,
  ($object-2, 'xs'): ('max': 12rem),
  ($object-2, 'md'): ('min': 22rem),
  ($object-3, 'xs'): ('max': 13rem),
  ($object-4, 'md'): ('min': 24rem),
)));

@include run(test('breakpoints--get-fork-min-width', (
  ($object-1, 'xs'): null,
  ($object-1, 'sm'): 11rem,
  ($object-1, 'md'): 21rem,
  ($object-1, 'lg'): null,
  ($object-2, 'xs'): null,
  ($object-2, 'md'): 22rem,
  ($object-3, 'xs'): null,
  ($object-4, 'md'): 24rem,
)));

@include run(test('breakpoints--get-fork-max-width', (
  ($object-1, 'xs'): 11rem,
  ($object-1, 'sm'): 21rem,
  ($object-1, 'md'): null,
  ($object-1, 'lg'): null,
  ($object-2, 'xs'): 12rem,
  ($object-2, 'md'): null,
  ($object-3, 'xs'): 13rem,
  ($object-4, 'md'): null,
)));

@include run(test('breakpoint--get-fork-query', (
  ($object-1, 'xs', 'and-more'): null,
  ($object-1, 'xs', 'and-less'): '(max-width: 11rem)',
  ($object-1, 'xs', 'only'): '(max-width: 11rem)',
  ($object-1, 'sm', 'and-more'): '(min-width: 11rem)',
  ($object-1, 'sm', 'and-less'): '(max-width: 21rem)',
  ($object-1, 'sm', 'only'): '(min-width: 11rem) and (max-width: 21rem)',
  ($object-1, 'md', 'and-more'): '(min-width: 21rem)',
  ($object-1, 'md', 'and-less'): null,
  ($object-1, 'md', 'only'): '(min-width: 21rem)',
  ($object-1, 'lg', 'and-more'): null,
  ($object-1, 'lg', 'and-less'): null,
  ($object-1, 'lg', 'only'): null,
  ($object-2, 'xs', 'and-more'): null,
  ($object-2, 'xs', 'and-less'): '(max-width: 12rem)',
  ($object-2, 'xs', 'only'): '(max-width: 12rem)',
  ($object-2, 'md', 'and-more'): '(min-width: 22rem)',
  ($object-2, 'md', 'and-less'): null,
  ($object-2, 'md', 'only'): '(min-width: 22rem)',
  ($object-3, 'xs', 'and-more'): null,
  ($object-3, 'xs', 'and-less'): '(max-width: 13rem)',
  ($object-3, 'xs', 'only'): '(max-width: 13rem)',
  ($object-4, 'md', 'and-more'): '(min-width: 24rem)',
  ($object-4, 'md', 'and-less'): null,
  ($object-4, 'md', 'only'): '(min-width: 24rem)',
)));
