$selector-object-1: (
  'prefix-separator': '-',
  'element-separator': '__',
  'modifier-separator': '--',
);

$selector-object-2: (
  'prefix': 'c',
  'prefix-separator': '-',
  'block': 'button',
  'element-separator': '__',
  'modifier-separator': '--',
);

$selector-object-3: (
  'prefix': 'c',
  'prefix-separator': '-',
  'block': 'button',
  'element': 'label',
  'element-separator': '-',
  'modifier-separator': '-',
  'tag': 'span',
  'pseudo-classes': ('hover',),
  'pseudo-element': 'before',
  'breakpoint': 'md',
  'parents': (
    (
      'selector': $selector-object-2,
      'relationship': ' > ',
    ),
  ),
);

$selector-object-4: (
  'prefix': 'c',
  'prefix-separator': '-',
  'block': 'button',
  'element': 'label',
  'element-separator': '__',
  'modifier': ('primary', 'large'),
  'modifier-separator': '--',
  'tag': 'span',
  'pseudo-classes': ('nth-child(2n + 1)', 'hover', 'focus'),
  'pseudo-element': 'after',
  'attribute': ('disable', ),
  'breakpoint': 'md',
  'parents': (
    (
      'selector': $selector-object-2,
      'relationship': ' + ',
    ), (
      'selector': $selector-object-2,
      'relationship': ' ',
    ),
  ),
);

$selector-object-5: (
  'prefix': 'c',
  'prefix-separator': '-',
  'block': 'button',
  'element': 'label',
  'element-separator': '__',
  'modifier': ('animated'),
  'modifier-element': ('light', 'sm'),
  'modifier-separator': '--',
  'tag': 'span',
  'pseudo-classes': ('nth-child(2n + 1)', 'hover', 'focus'),
  'pseudo-element': 'after',
  'attribute': ('disable', ),
  'breakpoint': 'md',
  'parents': (
    (
      'selector': $selector-object-2,
      'relationship': ' + ',
    ), (
      'selector': $selector-object-2,
      'relationship': ' ',
    ),
  ),
);

@include run(test('selector--constructor', (
  ((
    'prefix': 'c',
    'separator': (
      'prefix': '-',
      'element': '__',
      'modifier': '--',
    ),
  ), 'button'): $selector-object-2,
  ((
    'prefix': 'c',
    'separator': (
      'prefix': '-',
      'element': '-',
      'modifier': '-',
    ),
  ), 'button', 'span', ('hover',), 'label', null, null, 'before', null, 'md', (('selector': $selector-object-2, 'relationship': ' > '),)): $selector-object-3,
)));

@include run(test('selector--get-prefix', (
  ($selector-object-1,): null,
  ($selector-object-2,): 'c',
)));

@include run(test('selector--set-prefix', (
  ($selector-object-1, 'c'): (
    'prefix': 'c',
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, 'blabla07'): (
    'prefix': 'blabla07',
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
)));

@include run(test('selector--get-prefix-separator', (
  ($selector-object-1,): '-',
  ($selector-object-2,): '-',
  ($selector-object-3,): '-',
  ($selector-object-4,): '-',
)));

@include run(test('selector--set-prefix-separator', (
  ($selector-object-1, '-'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, '_'): (
    'prefix-separator': '_',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, 'bla-bla'): (
    'prefix-separator': 'bla-bla',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
)));

@include run(test('selector--get-print-prefix', (
  ($selector-object-1,): '',
  ($selector-object-2,): 'c-',
)));

@include run(test('selector--get-block', (
  ($selector-object-1,): null,
  ($selector-object-2,): 'button',
)));

@include run(test('selector--set-block', (
  ($selector-object-1, 'button'): (
    'prefix-separator': '-',
    'block': 'button',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, 'lkdqjs dlqskjd qslkdjqs ldkqsj dqlskdjqslkjdqs'): (
    'prefix-separator': '-',
    'block': 'lkdqjs dlqskjd qslkdjqs ldkqsj dqlskdjqslkjdqs',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
)));

@include run(test('selector--get-tag', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): 'span',
)));

@include run(test('selector--set-tag', (
  ($selector-object-1, 'a'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'tag': 'a',
  ),
  ($selector-object-1, 'button'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'tag': 'button',
  ),
)));

@include run(test('selector--get-print-tag', (
  ($selector-object-1,): '',
  ($selector-object-2,): '',
  ($selector-object-3,): 'span',
)));

@include run(test('selector--get-pseudo-classes', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): ('hover',),
  ($selector-object-3, 2): null,
  ($selector-object-4, 1): 'nth-child(2n + 1)',
  ($selector-object-4, 2): 'hover',
  ($selector-object-4, 3): 'focus',
)));

@include run(test('selector--set-pseudo-classes', (
  ($selector-object-1, ('hover',)): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-classes': ('hover',),
  ),
  ($selector-object-1, ('hover', 'active')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-classes': ('hover', 'active'),
  ),
  ($selector-object-1, null): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
)));

@include run(test('selector--append-pseudo-classes', (
  ($selector-object-1, 'hover'):  (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-classes': ('hover',),
  ),
  ($selector-object-1, ('hover', 'active')):  (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-classes': ('hover', 'active'),
  ),
)));

@include run(test('selector--get-print-pseudo-classes', (
  ($selector-object-1, 1): '',
  ($selector-object-1, 2): '',
  ($selector-object-3, 1): ':hover',
  ($selector-object-3, 2): '',
  ($selector-object-4, 1): ':nth-child(2n + 1)',
  ($selector-object-4, 2): ':hover',
  ($selector-object-4, 3): ':focus',
)));

@include run(test('selector--get-element', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): 'label',
)));

@include run(test('selector--set-element', (
  ($selector-object-1, 'label'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'element': 'label',
  ),
  ($selector-object-1, 'lorem ipsum'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'element': 'lorem ipsum',
  ),
)));

@include run(test('selector--get-element-separator', (
  ($selector-object-1,): '__',
  ($selector-object-2,): '__',
  ($selector-object-3,): '-',
  ($selector-object-4,): '__',
)));

@include run(test('selector--set-element-separator', (
  ($selector-object-1, '__'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, '--'): (
    'prefix-separator': '-',
    'element-separator': '--',
    'modifier-separator': '--',
  ),
  ($selector-object-1, 'abcde'): (
    'prefix-separator': '-',
    'element-separator': 'abcde',
    'modifier-separator': '--',
  ),
)));

@include run(test('selector--get-print-element', (
  ($selector-object-2, ): '',
  ($selector-object-3, ): '-label',
)));

@include run(test('selector--get-modifier', (
  ($selector-object-1, ): null,
  ($selector-object-2, ): null,
  ($selector-object-3, ): null,
  ($selector-object-4, ): ('primary', 'large'),
  ($selector-object-4, 1): 'primary',
  ($selector-object-4, 2): 'large',
  ($selector-object-4, 3): null,
)));

@include run(test('selector--set-modifier', (
  ($selector-object-1, ('lorem',)): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem',),
  ),
  ($selector-object-1, ('lorem', 'ipsum')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem', 'ipsum'),
  ),
)));

@include run(test('selector--append-modifier', (
  ($selector-object-1, 'lorem'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem',),
  ),
  ($selector-object-1, ('lorem', 'ipsum')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem', 'ipsum'),
  ),
)));

@include run(test('selector--get-modifier-element', (
  ($selector-object-1, ): null,
  ($selector-object-2, ): null,
  ($selector-object-3, ): null,
  ($selector-object-5, ): ('light', 'sm'),
  ($selector-object-5, 1): 'light',
  ($selector-object-5, 2): 'sm',
  ($selector-object-5, 3): null,
)));

@include run(test('selector--set-modifier-element', (
  ($selector-object-1, ('lorem',)): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem',),
  ),
  ($selector-object-1, ('lorem', 'ipsum')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem', 'ipsum'),
  ),
  ($selector-object-3, ('lorem', )): (
    'prefix': 'c',
    'prefix-separator': '-',
    'block': 'button',
    'element': 'label',
    'modifier-element': ('lorem', ),
    'element-separator': '-',
    'modifier-separator': '-',
    'tag': 'span',
    'pseudo-classes': ('hover',),
    'pseudo-element': 'before',
    'breakpoint': 'md',
    'parents': (
      (
        'selector': $selector-object-2,
        'relationship': ' > ',
      ),
    ),
  ),
  ($selector-object-3, ('lorem', 'ipsum')): (
    'prefix': 'c',
    'prefix-separator': '-',
    'block': 'button',
    'element': 'label',
    'modifier-element': ('lorem', 'ipsum'),
    'element-separator': '-',
    'modifier-separator': '-',
    'tag': 'span',
    'pseudo-classes': ('hover',),
    'pseudo-element': 'before',
    'breakpoint': 'md',
    'parents': (
      (
        'selector': $selector-object-2,
        'relationship': ' > ',
      ),
    ),
  ),
)));

@include run(test('selector--append-modifier-element', (
  ($selector-object-1, 'lorem'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem',),
  ),
  ($selector-object-1, ('lorem', 'ipsum')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'modifier': ('lorem', 'ipsum'),
  ),
  ($selector-object-3, 'lorem'): (
    'prefix': 'c',
    'prefix-separator': '-',
    'block': 'button',
    'element': 'label',
    'modifier-element': ('lorem', ),
    'element-separator': '-',
    'modifier-separator': '-',
    'tag': 'span',
    'pseudo-classes': ('hover',),
    'pseudo-element': 'before',
    'breakpoint': 'md',
    'parents': (
      (
        'selector': $selector-object-2,
        'relationship': ' > ',
      ),
    ),
  ),
  ($selector-object-3, ('lorem', 'ipsum')): (
    'prefix': 'c',
    'prefix-separator': '-',
    'block': 'button',
    'element': 'label',
    'modifier-element': ('lorem', 'ipsum'),
    'element-separator': '-',
    'modifier-separator': '-',
    'tag': 'span',
    'pseudo-classes': ('hover',),
    'pseudo-element': 'before',
    'breakpoint': 'md',
    'parents': (
      (
        'selector': $selector-object-2,
        'relationship': ' > ',
      ),
    ),
  ),
)));

@include run(test('selector--get-modifier-separator', (
  ($selector-object-1, ): '--',
  ($selector-object-2, ): '--',
  ($selector-object-3, ): '-',
  ($selector-object-4, ): '--',
)));

@include run(test('selector--set-modifier-separator', (
  ($selector-object-1, '--'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
  ),
  ($selector-object-1, '__'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '__',
  ),
  ($selector-object-1, 'bla-bla'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': 'bla-bla',
  ),
)));

@include run(test('selector--get-print-modifier', (
  ($selector-object-1, 1): '',
  ($selector-object-2, 1): '',
  ($selector-object-3, 1): '',
  ($selector-object-4, 1): '--primary',
  ($selector-object-4, 2): '--large',
  ($selector-object-4, 3): '',
)));

@include run(test('selector--get-attribute', (
  ($selector-object-1, ): null,
  ($selector-object-2, ): null,
  ($selector-object-3, ): null,
  ($selector-object-4, ): ('disable',),
  ($selector-object-4, 1): 'disable',
  ($selector-object-4, 2): null,
)));

@include run(test('selector--set-attribute', (
  ($selector-object-1, ('disable',)): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'attribute': ('disable',),
  ),
  ($selector-object-1, ('disable', 'data-test')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'attribute': ('disable', 'data-test'),
  ),
)));

@include run(test('selector--append-attribute', (
  ($selector-object-1, 'data-test'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'attribute': ('data-test',),
  ),
  ($selector-object-1, ('disable', 'data-test')): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'attribute': ('disable', 'data-test'),
  ),
)));

@include run(test('selector--get-print-attribute', (
  ($selector-object-1, 1): '',
  ($selector-object-2, 1): '',
  ($selector-object-3, 1): '',
  ($selector-object-4, 1): '[disable]',
  ($selector-object-4, 2): '',
  ($selector-object-4, 3): '',
)));

@include run(test('selector--get-breakpoint', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): 'md',
  ($selector-object-4,): 'md',
)));

@include run(test('selector--set-breakpoint', (
  ($selector-object-1, 'md'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'breakpoint': 'md',
  ),
)));

@include run(test('selector--get-pseudo-element', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): 'before',
  ($selector-object-4,): 'after',
)));

@include run(test('selector--set-pseudo-element', (
  ($selector-object-1, 'before'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-element': 'before',
  ),
  ($selector-object-1, 'after'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'pseudo-element': 'after',
  ),
)));

@include run(test('selector--get-print-pseudo-element', (
  ($selector-object-1,): '',
  ($selector-object-2,): '',
  ($selector-object-3,): '::before',
  ($selector-object-4,): '::after',
)));

@include run(test('selector--get-parents', (
  ($selector-object-1,): null,
  ($selector-object-2,): null,
  ($selector-object-3,): (
    (
      'selector': $selector-object-2,
      'relationship': ' > ',
    ),
  ),
  ($selector-object-4,): (
    (
      'selector': $selector-object-2,
      'relationship': ' + ',
    ), (
      'selector': $selector-object-2,
      'relationship': ' ',
    ),
  ),
)));

@include run(test('selector--set-parents', (
    ($selector-object-1, null): (
      'prefix-separator': '-',
      'element-separator': '__',
      'modifier-separator': '--',
    ),
    ($selector-object-1, (('selector': $selector-object-2, 'relationship': ''),)): (
      'prefix-separator': '-',
      'element-separator': '__',
      'modifier-separator': '--',
      'parents': (('selector': $selector-object-2, 'relationship': ''),),
    ),
    ($selector-object-1, (('selector': $selector-object-2, 'relationship': ' + '), ('selector': $selector-object-2, 'relationship': ' > '))): (
      'prefix-separator': '-',
      'element-separator': '__',
      'modifier-separator': '--',
      'parents': (('selector': $selector-object-2, 'relationship': ' + '), ('selector': $selector-object-2, 'relationship': ' > ')),
    ),
)));

@include run(test('selector--append-parent', (
  ($selector-object-1, $selector-object-2): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'parents': ((
      'selector': $selector-object-2,
      'relationship': ' ',
    ),),
  ),
  ($selector-object-1, $selector-object-2, ''): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'parents': ((
      'selector': $selector-object-2,
      'relationship': ' ',
    ),),
  ),
  ($selector-object-1, $selector-object-2, '>'): (
    'prefix-separator': '-',
    'element-separator': '__',
    'modifier-separator': '--',
    'parents': ((
      'selector': $selector-object-2,
      'relationship': ' > ',
    ),),
  ),
  ($selector-object-3, $selector-object-2, '~'): (
    'prefix': 'c',
    'prefix-separator': '-',
    'block': 'button',
    'element': 'label',
    'element-separator': '-',
    'modifier-separator': '-',
    'tag': 'span',
    'pseudo-classes': ('hover',),
    'pseudo-element': 'before',
    'breakpoint': 'md',
    'parents': (
      (
        'selector': $selector-object-2,
        'relationship': ' > ',
      ), (
        'selector': $selector-object-2,
        'relationship': ' ~ ',
      ),
    ),
  )
)));

@include run(test('selector--get-print-parents', (
  ($selector-object-1, ): '',
  ($selector-object-2, ): '',
  ($selector-object-3, ): '.c-button > ',
  ($selector-object-4, ): '.c-button + .c-button ',
)));

@include run(test('selector--get-print', (
  ($selector-object-2,): '.c-button',
  ($selector-object-3,): 'span.c-button-label:hover::before',
  ($selector-object-4,): '.c-button--primary.c-button--large span.c-button__label[disable]:nth-child(2n + 1):hover:focus::after',
  ($selector-object-5,): '.c-button--animated span.c-button__label--light.c-button__label--sm[disable]:nth-child(2n + 1):hover:focus::after',
)));
