@mixin block--start {
  $block: () !global;
}

@mixin block--end {
  @include block--generation($selector, $block);
  $block: null !global;
}

@mixin block--generation($selector, $block, $flag: null) {
  @if $flag != 'default' {
    @each $flag, $block in $block {
      $new-selector: $selector;

      $flag-type: str-slice($flag, 0, 1);
      $flag-name: str-slice($flag, 2);

      @if $flag-type == ':' {
        $new-selector: selector--append-states($new-selector, $flag-name);
      }

      @if $flag-type == '<' {
        $new-selector: selector--set-tag($new-selector, $flag-name);
      }

      @if $flag-type == '@' {
        $new-selector: selector--set-breakpoint($new-selector, $flag-name);
      }

      @if $flag-type == '-' {
        $new-selector: selector--append-modifier($new-selector, $flag-name);
      }

      @include block--generation($new-selector, $block, $flag)
    }
  } @else {
    $selector: selector--set-is-nested($selector, true);

    @include selector($selector) {
      @each $property, $value in $block {
        #{$property}: $value;
      }
    }
  }
}
