@mixin block-generation {
  @include block--generation($selector, $block);
  $block: null !global;
}

@mixin block--generation($selector, $block, $flag: null) {
  @if $flag != 'default' {
    @each $flag, $block in $block {
      $new-selector: $selector;

      $flag-type: str-slice($flag, 0, 1);
      $flag-name: str-slice($flag, 2);

      @if $flag-type == ':' {
        $new-selector: selector--append-states($new-selector, $flag-name);
      }

      @if $flag-type == '<' {
        $new-selector: selector--set-tag($new-selector, $flag-name);
      }

      @if $flag-type == '@' {
        $new-selector: selector--set-breakpoint($new-selector, $flag-name);
      }

      @if $flag-type == '-' {
        $new-selector: selector--append-modifier($new-selector, $flag-name);
      }

      @include block--generation($new-selector, $block, $flag)
    }
  } @else {
    $selector: selector--set-is-nested($selector, true);

    @include selector($selector) {
      @each $property, $value in $block {
        #{$property}: $value;
      }
    }
  }
}


$var: (
"default": (
"vertical-align": middle,
"box-sizing": border-box,
"border-width": 1px,
"display": inline-block,
"padding-top": 6px,
"padding-bottom": 6px,
"padding-right": 12px,
"padding-left": 12px,
"background-color": #fff,
"border-color": #ccc,
"color": #333,
"user-select": none,
"white-space": nowrap,
"font-size": 14px,
"font-weight": 400,
"text-align": center,
"text-decoration": none,
"border-radius": 4px,
"border-style": solid
),
"-large": (
"default": (
"padding-top": 10px,
"padding-bottom": 10px,
"padding-right": 16px,
"padding-left": 16px,
"font-size": 18px,
"border-radius": 6px
)
),
"-small": (
"default": (
"padding-top": 5px,
"padding-bottom": 5px,
"padding-right": 10px,
"padding-left": 10px,
"font-size": 12px,
"border-radius": 3px
)
),
":hover": (
"default": (
"background-color": #e6e6e6,
"border-color": #adadad
),
"-primary": (
"default": (
"background-color": #286090,
"border-color": #204d74
)
)
),
":active": (
"default": (
"background-color": #e6e6e6,
"border-color": #adadad
),
"-primary": (
"default": (
"background-color": #286090,
"border-color": #204d74
)
)
),
":focus": (
"default": (
"background-color": #e6e6e6,
"border-color": #adadad
),
"-primary": (
"default": (
"background-color": #286090,
"border-color": #204d74
)
)
),
"-primary": (
"default": (
"background-color": #337ab7,
"border-color": #2e6da4,
"color": #fff
)
)
)
