$button--padding-y: (
  'default': 6px,
  '-large': 10px,
  '-small': 5px,
);

$button--padding-x: (
  'default': 12px,
  '-large': 16px,
  '-small': 10px,
);

// Color
$button--background-color: (
  'default': #fff,
  ':hover': #e6e6e6,
  ':active': #e6e6e6,
  ':focus': #e6e6e6,
  '-primary': (
    'default': #337ab7,
    ':hover': #286090,
    ':active': #286090,
    ':focus': #286090,
  ),
);

$button--border-width: (
  'default': 1px,
  '-primary': (
    '-small': 3px,
  ),
);

$button--border-color:  (
  'default': #ccc,
  ':hover': #adadad,
  ':active': #adadad,
  ':focus': #adadad,
  '-primary': (
    'default': #2e6da4,
    ':hover': #204d74,
    ':active': #204d74,
    ':focus': #204d74,
    '-small': violet,
  ),
);

$button--color: (
  'default': #333,
  '-primary': #fff,
);

// Text
$button--font-size:  (
  'default': 14px,
  '-large': 18px,
  '-small': 12px,
);

// Other
$button--border-radius:  (
  'default': 4px,
  '-large': 6px,
  '-small': 3px,
);
