$button--prefix: 'c-' !default;

// Positioning
$button--vertical-align: middle !default;

// Display & Box Model
$button--border-width: 1px !default;
$button--display: inline-block !default;
$button--padding-y: 6px !default;
$button--padding-x: 12px !default;

// Color
$button--background-color: #fff !default;
$button--border-color: #ccc !default;
$button--color: #333 !default;

// Text
$button--font-size: 14px !default;
$button--font-weight: 400 !default;
$button--line-height: 1.42857143 !default;
$button--text-align: center !default;
$button--text-decoration: none !default;

// Other
$button--border-radius: 4px !default;
$button--border-style: solid !default;
