@import './map';

$memoization-table: () !default;

//////////////////////////////
// Memoization Set
//////////////////////////////
@function memo-set($module, $key, $value) {
  @if not $trowel-memo { @return true }

  $module: "#{$module}";
  $key: "#{$key}";

  $memoization-table: map-set-deep($memoization-table, ($module $key), $value) !global;

  @return true;
}

@mixin memo-set($module, $key, $value) {
  $holder: memo-set($module, $key, $value);
}

//////////////////////////////
// Memoization Get
//////////////////////////////
@function memo-get($module, $key) {
  @if not $trowel-memo { @return null }

  $module: "#{$module}";
  $key: "#{$key}";
  $private-sassy-maps-suppress-warnings: true !global;
  $result: map-get-deep($memoization-table, $module, $key);
  $private-sassy-maps-suppress-warnings: false !global;
  @return $result;
}
