@import '../../../../node_modules/trowel-buttons/src/scss/variables/synthax';
@import '../../../../node_modules/trowel-buttons/src/scss/variables/theme-trowel';

@function button-btn-group--margin-x ($value, $flags) {
  @return (
    ('margin-left', $value * -1, $flags),
  );
}

@function button--background-color ($value, $flags) {
  $default-value: null;
  $state-value: null;

  @if type-of($value) == 'list' {
    $default-value: nth($value, 1);
    $state-value: nth($value, 2);
  } @else {
    $default-value: $value;
    $state-value: darken($value, 10%);
  }

  @return (
    ('background-color', $default-value, $flags),
    ('background-color', $state-value, append($flags, ':hover')),
    ('background-color', $state-value, append($flags, ':focus')),
    ('background-color', $state-value, append($flags, ':active')),
  );
}


$button--selector: selector(new 'btn' with $button--synthax);

@include statement($button--selector, (
  ('@include button--background-color', $button--background-color),
  ('display', $button--display),
  ('color', $button--color),
  ('font-family', $button--font-family),
  ('font-weight', $button--font-weight),
  ('font-size', $button--font-size),
  ('line-height', $button--line-height),
  ('margin', $button--margin),
  ('text-align', $button--text-align),
  ('vertical-align', $button--vertical-align),
  ('touch-action', manipulation),
  ('cursor', $button--cursor),
  ('cursor', not-allowed, ('[disabled="true"')),
  ('background-image', none), // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214,
  ('user-select', none),
  ('white-space', nowrap),
  ('border-radius', $button--border-radius),
  ('text-decoration', $button--text-decoration),
  ('text-transform', $button--text-transform),
  ('letter-spacing', $button--letter-spacing),
  ('padding', $button--padding),
  ('box-shadow', $button--box-shadow),
  ('transition', $button--transition),
  ('border-width', $button--border-width),
  ('border-style', $button--border-style),
  ('border-color', $button--border-color),
  ('float', $button--float),
  ('width', $button--width),
  ('height', $button--height),
  ('opacity', $button--opacity),
  ('cursor', pointer),
));

#{print-selector($button--selector)} svg {
  vertical-align: middle;
}


$button-group--selector: selector(new 'btn-group' with $button--synthax);
@include statement($button-group--selector, (
  ('display', flex),
));


$button-inside-group--selector: selector(append $button--selector parent $button-group--selector as '>');

@include statement($button-inside-group--selector, (
  ('position', relative),
  ('z-index', 2, ':hover'),
  ('z-index', 2, ':active'),
  ('z-index', 2, ':focus'),
  ('border-top-left-radius', 0, ':not(:first-child)'),
  ('border-bottom-left-radius', 0, ':not(:first-child)'),
  ('border-top-right-radius', 0, ':not(:last-child)'),
  ('border-bottom-right-radius', 0, ':not(:last-child)'),
));


$button-inside-group-not-first--selector: selector(append $button-inside-group--selector parent $button--selector as '+');

@include statement($button-inside-group-not-first--selector, (
  ('@include button-btn-group--margin-x', $button--border-width),
));