$trowel-config: () !default;

$trowel-root-config: (
  'debug': false,
  'breakpoints': (
    'xs': (
      'max': 35.9999rem,
    ),
    'sm': (
      'min': 36rem,
      'max': 47.9999rem,
    ),
    'md': (
      'min': 48rem,
      'max': 61.9999rem,
    ),

    'lg': (
      'min': 62rem,
      'max': 74.9999rem,
    ),
    'xl': (
      'min': 75rem,
    ),
  ),
  'syntax': (
    'prefix': null,
    'separator': (
      'prefix': '-',
      'element': '__',
      'modifier': '--',
    ),
  )
);

$trowel-config: map-merge($trowel-root-config, $trowel-config);
