$trowel-config: () !default;

$trowel-root-config: (
  'debug': false,
  'breakpoints': (
    'xs': (
      'max': 10rem,
    ),
    'sm': (
      'min': 10rem,
      'max': 20rem,
    ),
    'md': (
      'min': 20rem,
    )
  ),
);

$trowel-config: map-merge($trowel-root-config, $trowel-config);
