$trowel-config: () !default;

$trowel-root-config: (
  'debug': false,
  'breakpoints': (
    'xs': (
      'max': 10rem,
    ),
    'sm': (
      'min': 10rem,
      'max': 20rem,
    ),
    'md': (
      'min': 20rem,
    )
  ),
  'synthax': (
    'prefix': null,
    'separator': (
      'prefix': '-',
      'element': '__',
      'modifier': '--',
    ),
  )
);

$trowel-config: map-merge($trowel-root-config, $trowel-config);
